@import url('https://fonts.googleapis.com/css?family=KoHo');

.anchorPane {
	-fx-pref-width: 760px;
	-fx-pref-height: 630px;
}

.tableView {
	-fx-pref-width: 750px;
	-fx-pref-height: 500px;
}

.h1 {
	-fx-font-family: 'KoHo', sans-serif;
	-fx-font-size: 42px;
}

.h2 {
	-fx-font-family: 'KoHo', sans-serif;
	-fx-font-size: 38px;
}

.inputText {
	-fx-pref-height: 32px;
	-fx-pref-width: 277px;
}

.labelCustom {
	-fx-font-family: 'KoHo', sans-serif;
	-fx-font-size: 19px;
}

.labelId {
	-fx-font-family: 'KoHo', sans-serif;
	-fx-font-size: 15px;
}

.labelMenor {
	-fx-font-family: 'KoHo', sans-serif;
	-fx-font-size: 13px;
}

.btn-light, .btn-success, .btn-primary, .btn-danger, .btn-warning, .btn-info {
	-fx-border-radius: 4px;
	-fx-font-family: 'KoHo', sans-serif;
	-fx-font-size: 15px;
}

.btn-light {
	-fx-text-fill: #212529;
	-fx-background-color: #e2e6ea;
	-fx-border-color: #dae0e5;
}

.btn-success {
	-fx-text-fill: #fff;
	-fx-background-color: #449d44;
	-fx-border-color: #398439;
}

.btn-primary {
	-fx-text-fill: #fff;
	-fx-background-color: #286090;
	-fx-border-color: #204d74;
}

.btn-danger {
	-fx-text-fill: #fff;
	-fx-background-color: #E80719;
	-fx-border-color: #bd2130;
}

.btn-warning {
	-fx-text-fill: #fff;
	-fx-background-color: #ec971f;
	-fx-border-color: #d58512;
}

.btn-info {
	-fx-text-fill: #fff;
	-fx-background-color: #31b0d5;
	-fx-border-color: #269abc;
}